@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
body{
    padding:20px;
    background-image:url("https://res.cloudinary.com/drdsoeley/image/upload/v1719743058/g0o8aqlwklil0d95rcsh.png");
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: repeat;
    font-family: Arial, sans-serif;
}
.planhead{
    color: white;
    font-weight:bolder;
    font-size:24px !important;
    font-family:"Roboto";
    padding:25px;
}
.card{
    background-color:#37404a !important;
    border: 1px solid #1c1b1b;
    border-radius: 16px !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color:white;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.button {
    font-size: 8px; 
    height:24px;
    width:80px;
    border-top-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    background-color: #ba8e3df6;
    color: white;
    border: none;
    cursor: pointer;
}
.buttong{
    font-size: 8px; 
    height:24px;
    width:80px;
    border-top-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    background-color: #49c53ef6;
    color: white;
    border: none;
    cursor: pointer;
}
.para{
    font-size:10px;
    text-align:right;
    padding:12px;
}
.ahagoldlogo{
    height: 40px;
    width: 140px;
    padding-left:8px;
    padding-bottom:5px;
    padding-top:0px;
}
.subpara{
    font-size:10px;
    font-weight:bolder;
    padding-left:14px;
    padding-bottom:5px;
}
.INR{
    font-size:10px;
    font-weight:bold;
    padding-left:14px;
    padding-bottom:5px;
}
.crosspara{
 text-decoration: line-through;
 color:lightgray;
 font-size:10px;
 
}
.subscribe1{
    border-radius: 15px;
    background-color: #ba8e3df6;
    color:white;
    font-size:10px;
    font-weight:bold;
    height:26px;
    width:75px;
    border:none;
    
}
.subscribe2{
    border-radius: 15px;
    background-color: orangered;
    color:white;
    font-size:10px;
    font-weight:bold;
    height:26px;
    width:75px;
    border:none;
    
}
.bottomcard{
    padding-right:10px;
    padding-top:0px;
    padding-bottom:5px;
}
.head2{
    padding-left:14px;
    padding-bottom:5px;
}
@media (max-width: 1024px) {
    .container {
                grid-template-columns: repeat(2, 1fr);
            }
}
@media (max-width: 780px) {
    .container {
                grid-template-columns: repeat(2, 1fr);
            }
}
@media (max-width: 520px) {
    .container {
                grid-template-columns: 1fr;
                align-content: center;
            }
}